body {
  padding: 0px 50px;
}
.main_title {
  display: flex;
  align-items: center;
}
.main_title img {
  width: 180px;
  height: 180px;
}
.main_title h1 {
  font-size: 50px;
  padding-left: 30px;
}
.main_list {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  color: #000;
}
.main_list li {
  padding: 10px 0px;
  border-top: 1px solid #000;
}
.main_list a {
  color: #000;
  text-decoration: none;
  outline: none;
}
.main button {
  border:none;
  color: #000;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  background: transparent;
  float: right;
  cursor: pointer;
}
.post {

}
.home_page {
  font-size: 25px;
  margin:20px;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 10;
  overflow: hidden;
  font-weight: bold;
}
.home_page::before {
  position: absolute;
  content: '';
  background: #00000029;
  top: 0px;
  left: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.home_page:hover::before{
  opacity: 0.4;
  left: 0px;
  transition-property: left;
  transition-duration: 1s;
}
.post_list li {
  list-style-position: inside;
  list-style-type: decimal;
  padding: 10px 0px;
  border-top: 1px solid #000;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
}
.author_page {
  color: #000;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  float: right;
  text-decoration: none;
}
.user_list li{
  list-style-type: decimal;
  padding: 10px 0px;
  border-top: 1px solid #000;
  color: #000;
}
.user_list p{
  font-size: 20px;
  font-weight: normal;
}
.user_list a{
  color: #000;
  outline: none;
  font-weight: bold;

}
