
.parent {
	width: 200px;
	padding: 20px;
	display: inline-block;
}
.button {
	border-radius: 25px;
    width: 200px;
    height: 50px;
    margin: auto;
    background: #fff;
    border: 2px solid #000;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    outline: none;
    cursor: pointer;
}
.animated {
	animation-name: boom;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.imageChanger {
	display: flex;
	flex-direction:column;
	align-items: flex-start;
}
.imageChanger img {
	max-width: 300px;
	max-height: 300px;
	margin: 10px;
	border-radius: 10px;
}
.imageChanger label {
	width: 200px;
    line-height: 50px;
    text-align: center;
    background: #908b8b29;
    padding: 0px;
    margin: 10px;
    background: linear-gradient(45deg, #112ec4d4, #1150d863);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.imageChanger input {
	opacity: 0;
    width: 0px;
    height: 0px;
}

@keyframes boom {
	0% {
		width: 160px;
		height: 40px;
		font-size: 15px;
		opacity: 0;
	}
	25% {
		width: 0px;
		height: 0px;
		font-size: 2px;
		opacity: 0
	}
	50% {
		border:none;
		opacity: 1;
		transform: rotate(240deg);
	}
	75% {
		border:none;
		transform: rotate(480deg);
	}
	100% {
		border:none;
		transform: rotate(720deg);
	}
}