form {
	width: 400px;
    background: #fff;
  	border: 10px solid #3fb1a8;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div {
	width: 90%;
	padding: 5px 0px;
	color: #fff;
}
form > div > div{
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 400;
	color: #2c2929;
}
form > div > button {
	border:none;
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #2c2929;
}
form > button {
	margin:5px 0px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	border-radius: 2px;
}
label {
	width: 90%;
	padding: 5px 0px;
}
label > div {
	padding: 5px 0px;
	text-transform: uppercase;
	font-weight: 400;
	color: #2c2929;
}
input {
	border: 1px solid #ddd;
	padding: 10px 10px;
	border-radius: 5px;
	width: 90%;
}