body {
  margin: 0px;
  padding: 0px;
}

.main {
  max-width: 1300px;
  margin: 0px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background: #000;
  min-width: 380px;
  box-sizing: border-box;
}

.navigation a {
  padding: 0px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}
.navigation a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  background: #fff;
  height: 1px;
  width: 0%;
}
.navigation a:hover::before {
  transition-property: width;
  transition: 0.5s;
  width: 100%;
}
.search_block {
  width: 35%;
  display: flex;
}

.search_block input {
  width: 65%;
  border: none;
  padding: 10px 20px;
  background: #ffffff30;
  outline: none;
  color: #fff;
}
.search_block input::placeholder {
  color: #ffffffb8;
}

.search_block a {
  border: none;
  background: #0c8224;
  margin-left: 20px;
  padding: 10px 15px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}
.search_block a:hover {
  background: #00a722;
}
.search_block a:active {
  background: #084615;
}
.helmet_wrapper {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to bottom, #000, #fff);
  min-width: 380px;
  box-sizing: border-box;
}
.movies_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 100px;
  padding: 0px 0px 50px 0px;
  list-style-type: none;
  background: #fff;
  position: relative;
}
.movies_list a {
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding: 10px;

}
.movies_list a:hover {
  transform: scale(1.05);
}

.movies_list h1 {
  margin: 15px 10px;
  padding: 0px;
  color: #2a77c4;
  text-shadow: 1px 1px #4e516e;
  border-bottom: 1px solid #0000001f;
}
.movies_list a > img {
 box-shadow: 1px 1px 10px 1px #555;
}
.movies_list p {
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  background: #269159;
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies_list p:last-child {
  background: transparent;
  color: #006697;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.movies_list p:last-child span {
  color: #006697;
}
.movies_list p:last-child::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #be7d0d;
  animation-name: release_animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.movies_list p img {
  padding-left: 5px;
}
.movies_list p span {
  color: #ffb71b;
  font-size: 22px;
  font-weight: 600;
  padding-left: 10px;
}
.movies_list button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  color: #006697;
  cursor: pointer;
  outline: none;
}
.movies_list button:hover {
  background: #efefef7a;
  transform: scale(1.1);
}
.genres {
  background: #fff;
  margin: 0px 100px;
}
.genres_list {
  float: left;
  
}
.genres_list_title {
  color: #fff;
  background: #1f9521;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px #182c1b;
}
.genres_list_inner {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
.genres_list_inner li {
  background: #1f9521;
  padding: 5px 10px;
  border-bottom: 1px solid #168614;
  text-align: center;
}
.genres_list_inner li:hover {
  background: #0c860e;
}
.genres_list_inner li:active {
  background: #076908;
}
.genres_list_inner a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
}
.genres_movies_list_outer {
  background: #fff;
  margin: 0px 100px;
}
.genres_movies_list_outer h2{
  margin: 0px;
  padding: 10px;
}
.genres_movies_list_inner {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding-bottom: 60px;
}
.genres_movies_list_inner button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  color: #006697;
  cursor: pointer;
  outline: none;
}
.genres_movies_list_inner button:hover {
  background: #efefef7a;
  transform: scale(1.1);
}

.genres_movies_list_inner a {
  text-decoration: none;
  padding: 15px 0px;
  text-align: center;
}
.genres_movies_list_inner a:hover {
  transform: scale(1.01);
}
.genres_movies_list_inner h3{
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  color: #d20101;
}
.genres_movies_list_inner img {
  max-width: 250px;
  box-shadow: 0px 0px 10px 1px #000;
}
.movie_page {
  background: linear-gradient(to bottom, #000, transparent);
  min-width: 380px;
}
.movie_page_content {
  background: #fff;
  margin: 0px 100px;
  display: flex;
}
.movie_poster {
  padding: 20px;
}
.movie_poster img {
  box-shadow: 0px 0px 10px 1px #000;
  max-width: 400px;
}
.movie_data {
  padding: 0px 20px;
  min-width: 300px;
}
.movie_data h1 {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}
.movie_data h3 {
  text-align: center;
}
.data_list {
  padding: 0px;
  margin: 0px;
  list-style:none;
}
.data_list li {
  display: flex;
  padding: 10px 0px;
}
.data_list span {
  width: 110px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  padding-right: 20px;
  color: #555;
}
.data_list p {
  margin: 0px;
  align-self: flex-end;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
}
.rating p {
  display: flex;
  align-items: center;
}
.rating img {
  padding-left: 5px;
}
.trailers_links {
  text-align: left;
  margin: 20px 0px;
  padding: 0px;
  list-style: none;
}
.trailers_links h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0px;
  color: #555;
  padding-right: 10px;
}
.trailers_links li {
  padding:5px 0px 5px 10px;
} 
.trailers_links li a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 5px;
}
.trailers_links a:hover {
  color: #109e20;
  background: #9e9e9e1f;
  text-shadow: 0.2px 0.2px #567552;
  border-radius: 5px;
}
.similar_genres {
  text-align: left;
  margin: 20px 0px;
  padding: 0px;
  list-style: none;
}
.similar_genres h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0px;
  color: #555;
  padding-right: 10px;
}

.similar_genres li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 5px;
}
.similar_genres li {
  display: inline-block;
  padding: 5px 0px 5px 10px;
}
.similar_genres a:hover {
  color: #109e20;
  background: #9e9e9e1f;
  text-shadow: 0.2px 0.2px #567552;
  border-radius: 5px;
}
.rating_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px 30px 0px;
}
.rating_block_inner {
  display: flex;
}
.rating_block_inner h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0px;
  color: #555;
}
.rating_block_inner label {
  padding: 0px 5px 0px 10px;
  font-family: sans-serif; 
  position: relative;
}
.rating_block_inner label::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #6b6b6b;
  top: 45%;
  right: 0px;
  transform: translate(0%, -50%);
  border-radius: 2px;
}
.rating_block_inner label:hover::after {
  background: #4ca55e;
}
.rating_block_inner label:active::after {
  background: #4cd55e;
}

.rating_block input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.user_rating {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  line-height: 35px;
}
.user_rating img {
  padding-left:5px;
  vertical-align: sub; 
}
.show_similar {
  border: 1px solid #399539;
  border-radius: 5px;
  text-shadow: 1px 1px #4a6940;
  background: #008a00bf;
  color: #fff;
  padding: 10px 15px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.show_similar:hover {
  background: #0a670a;
}
.show_similar:active {
  background: #0a970a;
}
.similar_movies {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.similar_movies a {
  text-align: center;
  text-decoration: none;
  color: green;
}
.similar_movies h4 {
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0px;
  padding: 5px 0px;
}

@keyframes release_animation {
  0%{
    width: 100px;
  }
  50% {
    width: 100%;
  }
  100%{
    width: 100px;
  }
}

@media(max-width: 870px) {
  .movie_page_content {
    margin: 0px 40px;
  }
}
@media(max-width: 760px) {
  .movie_page_content {
    flex-direction: column;
    align-items: center; 
    padding-bottom: 50px; 
  }
  .header {
    flex-direction: column;
    padding: 20px 40px;
  }
  .search_block {
    width: 100%;
    padding-top: 20px;
  }
  .search_block input {
    width: 80%;
  }
  .genres {
    margin: 0px 40px;
  }
  .genres_movies_list_outer {
    margin: 0px 40px;
  }
}
@media(max-width: 550px) {
  .movies_list {
    margin: 0px 40px;
  }
  .genres_movies_list_inner img {
    max-width: 180px;
  }
  .genres_movies_list_inner h3 {
    font-size: 17px;
  }
  .genres_list_title {
    font-size: 20px;
  }
  .genres_list_inner a {
    font-size: 13px;
  }
  .genres_movies_list_outer h2 {
    font-size: 18px;
  }
  .genres_movies_list_inner a img {
    max-width: 200px;
  }
}
@media(max-width: 400px) {
   .movie_page_content {
    margin: 0px 10px;
  }
  .header {
    flex-direction: column;
    padding: 20px 40px;
  }
  .movies_list {
    margin: 0px 15px;
  }
  .genres {
    margin: 0px 15px;
  }
}