body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menu {
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu a:hover{
	color: grey;
}
.menu a{
	padding: 10px;
	color: #000;
	font-weight: 600;
	font-size: 20px;
}
.menu img {
	width: 100px;
	padding: 10px 20px;
}
.blockPost {
  padding: 20px;
}
.mark {
  padding: 20px 0px 0px 20px;
}
.mark label {
  padding: 0px 5px;
}
.user span {
 padding: 0px 5px;
 color: #efb006;
}